@using StoneMarket.Core.Classes
@inject PanelLayoutScope scope
@{
    ViewData["Title"] = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var parentcategoey = scope.Categories();
}

<!-- Hero section start -->
<section class="hero-wrap  style1">
    <div class="container-fluid px-0">
        <div class="row gx-4">
            <div class="col-lg-7">
                <div dir="rtl" class="hero-slider-one swiper-container bg-sand">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="hero-item-wrap style1">
                                <div class="hero-shape-1">
                                    <img src="assets/img/hero/hero-shape-2.png" alt="Image">
                                </div>
                                <div class="hero-product-info">
                                    <h4>تا <span>40% تخفیف</span></h4>
                                    <h1>
                                        بهترین جواهرات
                                        مجموعه طراحی هانسی
                                    </h1>
                                    <p>جستجو کنید و شیک ترین محصولات را دریافت کنید.</p>
                                    <a href="shop-left-sidebar.html" class="btn style1">اکنون بخرید</a>
                                </div>
                                <div class="hero-product-img">
                                    <img src="assets/img/hero/hero-img-1.png" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero-item-wrap style1">
                                <div class="hero-product-info">
                                    <h4>تا <span>40% تخفیف</span></h4>
                                    <h1>
                                        بهترین جواهرات
                                        مجموعه طراحی هانسی
                                    </h1>
                                    <p>جستجو کنید و شیک ترین محصولات را دریافت کنید.</p>
                                    <a href="shop-left-sidebar.html" class="btn style1">اکنون بخرید</a>
                                </div>
                                <div class="hero-product-img">
                                    <img src="assets/img/hero/hero-img-2.png" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero-item-wrap style1">
                                <div class="hero-product-info">
                                    <h4>تا <span>40% تخفیف</span></h4>
                                    <h1>
                                        بهترین جواهرات
                                        مجموعه طراحی هانسی
                                    </h1>
                                    <p>جستجو کنید و شیک ترین محصولات را دریافت کنید.</p>
                                    <a href="shop-left-sidebar.html" class="btn style1">اکنون بخرید</a>
                                </div>
                                <div class="hero-product-img">
                                    <img src="assets/img/hero/hero-img-3.png" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="slider-pagination style2 hero-one-pagination"></div> -->
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero-item-wrap style2 bg-sand">
                    <div class="hero-product-info">
                        <h4><span>%75 تخفیف</span></h4>
                        <h1>
                            بهترین جواهرات
                            مجموعه طراحی هانسی
                        </h1>
                        <a href="shop-left-sidebar.html" class="btn style4">اکنون بخرید</a>
                    </div>
                    <div class="hero-product-img">
                        <img src="assets/img/hero/hero-img-5.png" alt="Image">
                    </div>
                </div>
                <div class="hero-item-wrap style2 bg-sand">
                    <div class="hero-product-info">
                        <h4><span>%10 تخفیف</span></h4>
                        <h1>
                            بهترین جواهرات
                            مجموعه طراحی هانسی
                        </h1>
                        <a href="shop-left-sidebar.html" class="btn style4">اکنون بخرید</a>
                    </div>
                    <div class="hero-product-img">
                        <img src="assets/img/hero/hero-img-6.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Promo Sction start -->
<div class="promo-wrap bg-fantasy">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="promo-item">
                    <h4><span class="las la-truck-moving"></span>ارسال رایگان</h4>
                    <p>لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد صنعت است.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="promo-item">
                    <h4><span class="las la-phone-volume"></span>خرید آنلاین 24/7</h4>
                    <p>لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد صنعت است.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="promo-item">
                    <h4><span class="las la-undo-alt"></span>30 روز بازگشت</h4>
                    <p>لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد صنعت است.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="promo-item">
                    <h4><span class="las la-wallet"></span>پرداخت اقساطی</h4>
                    <p>لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد صنعت است.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Promo Sction end -->
<!-- Category Section start -->
<section class="category-wrap pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title style1 text-center mb-40">
                    <h2 class="text-sienna">کاتالوگ جواهرات</h2>
                    <p>پیشنهاد زمستانی با 75% تخفیف ویژه</p>
                    <div class="section-seperator">
                        <img src="assets/img/dimond.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in parentcategoey)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="category-item style1">
                        <div class="category-img">
                            <img src="~/images/@item.Picture" alt="Image">
                            <div class="cat-popup">
                                <p>@item.Name </p>
                                <a href="/product-list/@item.Id">
                                    مشاهده محصول<i class="las la-angle-double-left"></i>
                                </a>
                            </div>
                        </div>
                        <div class="cat-name">
                            <h4>@item.Name</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Category Section end -->
