@model StoneMarket.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "عضویت در فروشگاه";
    Layout = "~/Views/Shared/_Account.cshtml";
}


<h3 class="mb-30">ثبت نام</h3>
<div class="row">
    <div class="section-field mb-20 col-sm-6">
        <label class="mb-10" for="fname">نام اصلی* </label>
        <input id="fname" class="web form-control" type="text" placeholder="نام اصلی" name="fname">
    </div>
    <div class="section-field mb-20 col-sm-6">
        <label class="mb-10" for="lname">نام خانوادگی* </label>
        <input id="lname" class="web form-control" type="text" placeholder="نام خانوادگی" name="lname">
    </div>
</div>
<div class="section-field mb-20">
    <label class="mb-10" for="email">ایمیل* </label>
    <input type="email" placeholder="ایمیل*" id="email" class="form-control" name="email">
</div>
<div class="section-field mb-20">
    <label class="mb-10" for="password">رمزعبور* </label>
    <input class="Password form-control" id="password" type="password" placeholder="رمزعبور" name="password">
</div>
<a href="#" class="button">
    <span>ثبت نام</span>
    <i class="fa fa-check"></i>
</a>
<p class="mt-20 mb-0">هنوز حساب کاربری ندارید؟ <a href="login.html"> اینجا را بساز</a></p>