<!DOCTYPE html>

<html lang="fa">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

   
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />

</head>
<body>

    <div class="wrapper">

        <!--=================================
         register-->

        <section class="height-100vh d-flex align-items-center page-section-ptb login" style="background-image: url(images/register-bg.jpg);">
            <div class="container">
                <div class="row no-gutters">         
                    <div class="col-lg-4 col-md-6 bg-white">
                        
                    </div>
                     <div class="col-lg-4 col-md-6 bg-white">
                        <div class="login-fancy pb-40 clearfix">
                            @RenderBody()
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 bg-white">
                       
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
         register-->

    </div>

    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/bootstrap-rtl.min.js"></script>
    
    <!-- custom -->
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
