
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    <!-- Font -->
@*    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
*@
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">

        <!--=================================
        preloader -->

        <div id="pre-loader">
            <img src="images/pre-loader/loader-01.svg" alt="">
        </div>

        <!--=================================
        preloader -->
        <!--=================================
        header start-->

        <nav class="admin-header navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <!-- logo -->
            <div class="text-left navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo-dark.png" alt=""></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-icon-dark.png" alt=""></a>
            </div>
            <!-- Top bar left -->
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="button-toggle" class="button-toggle-nav inline-block ml-20 pull-left" href="javascript:void(0);">
                        <i class="zmdi zmdi-menu ti-align-right"></i>
                    </a>
                </li>
                <li class="nav-item" style="margin-top:-21px;">
                    <div class="search">
                        <a class="search-btn not_click" href="javascript:void(0);"></a>
                        <div class="search-box not-click">
                            <input type="text" class="not-click form-control" placeholder="جستجو" value="" name="search">
                            <button class="search-button" type="submit"> <i class="fa fa-search not-click"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- top bar right -->
            <ul class="nav navbar-nav ml-auto">               
                <li class="nav-item dropdown ">
                    <a class="nav-link top-nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="ti-bell"></i>
                        <span class="badge badge-danger notification-status"> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-big dropdown-notifications">
                        <div class="dropdown-header notifications">
                            <strong>اطلاعیه ها</strong>
                            <span class="badge badge-pill badge-warning">05</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            کاربر جدید ثبت شده <small class="float-right text-muted time">
                                همین
                                حالا
                            </small>
                        </a>
                        <a href="#" class="dropdown-item">
                            فاکتور جدید دریافت شد <small class="float-right text-muted time">
                                22
                                دقیقه
                            </small>
                        </a>
                        <a href="#" class="dropdown-item">
                            گزارش خطا سرور<small class="float-right text-muted time">7 ساعت</small>
                        </a>
                        <a href="#" class="dropdown-item">
                            گزارش پایگاه داده<small class="float-right text-muted time">1 روز</small>
                        </a>
                        <a href="#" class="dropdown-item">تایید سفارش<small class="float-right text-muted time">2 روز</small> </a>
                    </div>
                </li>
               
              
            </ul>
        </nav>

        <!--=================================
        header End-->
        <!--=================================
        Main content -->

        <div class="container-fluid">
            <div class="row">
                <!-- Left Sidebar start-->
                <div class="side-menu-fixed">
                    <div class="scrollbar side-menu-bg">
                        <ul class="nav navbar-nav side-menu" id="sidebarnav">

                            <!-- menu item todo-->
                            <li>
                                <a href="/Admin/Category">
                                    <i class="ti-menu-alt"></i><span class="right-nav-text">
                                       دسته بندی ها
                                    </span>
                                </a>
                            </li>
                            <!-- menu item chat-->
                            <li>
                                <a href="chat-page.html"><i class="ti-comments"></i><span class="right-nav-text">محصولات </span></a>
                            </li>
                            <!-- menu item mailbox-->
                            <li>
                                <a href="mail-box.html">
                                    <i class="ti-email"></i><span class="right-nav-text">صندوق پستی</span> <span class="badge badge-pill badge-warning float-right mt-1">تنظیمات</span>
                                </a>
                            </li>                          
                        </ul>
                    </div>
                </div>

                <!-- Left Sidebar End-->
                <!--=================================
                wrapper -->

                <div class="content-wrapper">
                    @RenderBody()

                    <!--=================================
                    footer -->

                    <footer class="bg-white p-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center text-md-left">
                                    <p class="mb-0">
                                        &copy; کپی رایت <span id="copyright">
                                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                                        </span>. <a href="#"> وب مین </a> همه حقوق محفوظ است.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="text-center text-md-right">
                                    <li class="list-inline-item"><a href="#">شرایط و ضوابط </a> </li>
                                    <li class="list-inline-item"><a href="#">API استفاده از خط مشی </a> </li>
                                    <li class="list-inline-item"><a href="#">حریم خصوصی </a> </li>
                                </ul>
                            </div>
                        </div>
                    </footer>

                </div><!-- main content wrapper end-->
            </div>
        </div>
    </div>


    <script src="~/js/jquery-3.3.1.min.js"></script>

    <!-- plugins-jquery -->
    <script src="~/js/plugins-jquery.js"></script>

    <!-- plugin_path -->
    <script>var plugin_path = 'js/';</script>

    <!-- chart -->
    <script src="~/js/chart-init.js"></script>

    <!-- calendar -->
    <script src="~/js/calendar.init.js"></script>

    <!-- charts sparkline -->
    <script src="~/js/sparkline.init.js"></script>

    <!-- charts morris -->
    <script src="~/js/morris.init.js"></script>

    <!-- datepicker -->
    <script src="~/js/datepicker.js"></script>

    <!-- sweetalert2 -->
    <script src="~/js/sweetalert2.js"></script>

    <!-- toastr -->
    <script src="~/js/toastr.js"></script>

    <!-- validation -->
    <script src="~/js/validation.js"></script>

    <!-- lobilist -->
    <script src="~/js/lobilist.js"></script>

    <!-- custom -->
    <script src="~/js/custom.js"></script>

     @RenderSection("Scripts", required: false)

</body>
</html>
