@model StoneMarket.Core.ViewModels.CategoryViewModel
@using StoneMarket.Core.Classes
@inject PanelLayoutScope scope
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "~/Views/Shared/_Panel.cshtml";

    var data = scope.Categories();
}


  <div class="row">
    <div class="col-xl-12 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <div class="d-block d-md-flex justify-content-between">
                    <div class="d-block">
                        <h5 class="card-title pb-0 border-0">اضافه کردن دسته بندی جدید</h5>
                    </div>
                   
                </div>
               <form asp-action="AddCategory">
            <div class="form-group">
                <label for="Name"> نام دسته بندی </label>

                <input asp-for="Name" class="form-control" placeholder="نام دسته" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Picture"> تصویر دسته بندی </label>
                <input asp-for="Picture" class="form-control" placeholder="نام دسته" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

             <div class="form-group">
                 <script src="~/ckeditor/ckeditor.js"></script>
                <textarea asp-for="Description" id="desc" class="form-control" placeholder="نام دسته" ></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>



            <script type="text/javascript">
                    CKEDITOR.replace('desc');
            </script>
            <div class="form-group">
                 <label class="mb-10" for="ParentCategory">انتخاب سر دسته </label>

                <select asp-for="ParentCategory" class="fancyselect sm-mb-20 mr-20" style="width:100%">
                        <option value="none">سر دسته ندارد</option>
                    @foreach (var item in data)
                    {
                        <option value="@item.Name">@item.Name</option>

                    }

                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت شود" class="btn btn-success btn-block" />
            </div>
        </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {

<script>
     var list = [];
    $.ajax({
             url: "/Admin/Category",
             type: "GET",
             data:{}
         }).done(function(res){
             list.push(res)
             console.log(list)
             list.forEach(function(item){
                 alert(item.name)
             })
             //$('#mySelect').append($('<option>', {
             //    value: "none",
             //    text: 'My option'
             //}));
         })
</script>
}