@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

 <div class="page-title">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="mb-0"> داشبورد</h4>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                  <li class="breadcrumb-item"><a href="index.html" class="default-color">خانه</a></li>
                  <li class="breadcrumb-item active">داشبورد</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- widgets -->
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <span class="text-danger">
                        <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="float-right text-right">
                      <p class="card-text text-dark">بازدید کنندگان</p>
                      <h4>65,650</h4>
                    </div>
                  </div>
                  <p class="text-muted pt-3 mb-0 mt-2 border-top">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> رشد 81٪ کمتر
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <span class="text-warning">
                        <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="float-right text-right">
                      <p class="card-text text-dark">سفارشات</p>
                      <h4>656</h4>
                    </div>
                  </div>
                  <p class="text-muted pt-3 mb-0 mt-2 border-top">
                    <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> مجموع فروش
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <span class="text-success">
                        <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="float-right text-right">
                      <p class="card-text text-dark">درآمد</p>
                      <h4>65656 تومان</h4>
                    </div>
                  </div>
                  <p class="text-muted pt-3 mb-0 mt-2 border-top">
                    <i class="fa fa-calendar mr-1" aria-hidden="true"></i> فروش در هر هفته
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <span class="text-primary">
                        <i class="fa fa-twitter highlight-icon" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="float-right text-right">
                      <p class="card-text text-dark">دنبال کنندگان</p>
                      <h4>62,500+</h4>
                    </div>
                  </div>
                  <p class="text-muted pt-3 mb-0 mt-2 border-top">
                    <i class="fa fa-repeat mr-1" aria-hidden="true"></i> فقط به روز شد
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Orders Status widgets-->
          <div class="row">
            <div class="col-xl-4 mb-30">
              <div class="card card-statistics h-100">
                <!-- action group -->
                <div class="btn-group info-drop">
                  <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="text-primary ti-reload"></i>تازه کردن</a>
                    <a class="dropdown-item" href="#"><i class="text-secondary ti-eye"></i>مشاهده همه</a>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">خلاصه بازار</h5>
                  <h4>$50,500 </h4>
                  <div class="row mt-20">
                    <div class="col-4">
                      <h6>اپل</h6>
                      <b class="text-info">+ 82.24 % </b>
                    </div>
                    <div class="col-4">
                      <h6>اینستاگرام</h6>
                      <b class="text-danger">- 12.06 % </b>
                    </div>
                    <div class="col-4">
                      <h6>گوگل</h6>
                      <b class="text-warning">+ 24.86 % </b>
                    </div>
                  </div>
                </div>
                <div id="sparkline2" class="scrollbar-x text-center"></div>
              </div>
            </div>
            <div class="col-xl-8 mb-30">
              <div class="card h-100">
                <div class="btn-group info-drop">
                  <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="text-primary ti-reload"></i>تازه کردن</a>
                    <a class="dropdown-item" href="#"><i class="text-secondary ti-eye"></i>مشاهده همه</a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-block d-md-flexx justify-content-between">
                    <div class="d-block">
                      <h5 class="card-title">رشد بازدید سایت </h5>
                    </div>
                    <div class="d-flex">
                      <div class="clearfix mr-30">
                        <h6 class="text-success">درآمد</h6>
                        <p>+584</p>
                      </div>
                      <div class="clearfix  mr-50">
                        <h6 class="text-danger"> نتیجه گیری</h6>
                        <p>-255</p>
                      </div>
                    </div>
                  </div>
                  <div id="morris-area" style="height: 320px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 mb-30">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">بازخورد مشتری </h5>
                  <div class="row mb-30">
                    <div class="col-md-6">
                      <div class="clearfix">
                        <p class="mb-10 float-left">مثبت</p>
                        <i class="mb-10 text-success float-right fa fa-arrow-up"> </i>
                      </div>
                      <div class="progress progress-small">
                        <div class="skill2-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="mt-10 text-success">8501</h4>
                    </div>
                    <div class="col-md-6">
                      <div class="clearfix">
                        <p class="mb-10 float-left">منفی</p>
                        <i class="mb-10 text-danger float-right fa fa-arrow-down"> </i>
                      </div>
                      <div class="progress progress-small">
                        <div class="skill2-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h4 class="mt-10 text-danger">3251</h4>
                    </div>
                  </div>
                  <div class="chart-wrapper" style="width: 100%; margin: 0 auto;">
                    <div id="canvas-holder">
                      <canvas id="canvas3" width="550"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <div class="tab nav-border" style="position: relative;">
                    <div class="d-block d-md-flex justify-content-between">
                      <div class="d-block w-100">
                        <h5 class="card-title">پرفروش ترین ها</h5>
                      </div>
                      <div class="d-block d-md-flex nav-tabs-custom">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active show" id="months-tab" data-toggle="tab" href="#months" role="tab"
                              aria-controls="months" aria-selected="true"> ماه</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab"
                              aria-controls="year" aria-selected="false">سال </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade active show" id="months" role="tabpanel" aria-labelledby="months-tab">
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/05.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">انگیزه خود را بالا ببرید</h6>
                            <p class="sm-mb-5 d-block">من واقعا اعتقاد دارم که حرف های آگوستین درست است. </p>
                            <span class="mb-0">توسط - <b class="text-info">ارش خادملو</b></span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-primary mb-0"><b>45,436</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-secondary mb-0"><b>05,236 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/02.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم.</p>
                            <span class="mb-0">توسط - <b class="text-warning">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-success mb-0"><b>23,462</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-danger mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/03.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم. </p>
                            <span class="mb-0">توسط - <b class="text-danger">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-warning mb-0"><b>5,566</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-info mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/04.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم. </p>
                            <span class="mb-0">توسط - <b class="text-success">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-dark mb-0"><b>5,446</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-success mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/09.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم. </p>
                            <span class="mb-0">توسط - <b class="text-danger">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-dark mb-0"><b>12,549</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="theme-color mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/06.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم.</p>
                            <span class="mb-0">توسط - <b class="text-info">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-primary mb-0"><b>1,366</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-secondary mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row mb-30">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/07.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم. </p>
                            <span class="mb-0">توسط - <b class="text-success">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-success mb-0"><b>465</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-danger mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 col-sm-6">
                            <img class="img-fluid" src="images/blog/08.jpg" alt="">
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <h6 class="mb-0 sm-mt-5">هلن کلر یک فروشنده گفتگو است</h6>
                            <p class="sm-mb-5 d-block">ما همچنین داستان های حماسی، آن مدرن را می دانیم. </p>
                            <span class="mb-0">توسط - <b class="text-warning">ارش خادملو</b> </span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-warning mb-0"><b>4,456</b></h5>
                            <span>حراجی</span>
                          </div>
                          <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                            <h5 class="text-info mb-0"><b>166 تومان</b></h5>
                            <span>درامد</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 mb-30">
              <div class="card card-statistics h-100">
                <div class="card-body">
                  <h5 class="card-title">بهترین آیتم های فروش</h5>
                  <ul class="list-unstyled">
                    <li class="mb-20">
                      <div class="media">
                        <div class="position-relative">
                          <img class="img-fluid mr-15 avatar-small" src="images/item/01.png" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">فروشنده ماشین <span class="float-right text-danger"> 8,561</span> </h6>
                          <p>تم وردپرس خودرو </p>
                        </div>
                      </div>
                      <div class="divider dotted mt-20"></div>
                    </li>
                    <li class="mb-20">
                      <div class="media">
                        <div class="position-relative clearfix">
                          <img class="img-fluid mr-15 avatar-small" src="images/item/02.png" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">وبستر <span class="float-right text-warning"> 6,213</span> </h6>
                          <p>قالب چند منظوره HTML5 </p>
                        </div>
                      </div>
                      <div class="divider dotted mt-20"></div>
                    </li>
                    <li class="mb-20">
                      <div class="media">
                        <div class="position-relative">
                          <img class="img-fluid mr-15 avatar-small" src="images/item/03.png" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">سپاه <span class="float-right text-success"> 2,926</span> </h6>
                          <p> قالب چند منظوره HTML5 </p>
                        </div>
                      </div>
                      <div class="divider dotted mt-20"></div>
                    </li>
                    <li>
                      <div class="media">
                        <div class="position-relative clearfix">
                          <img class="img-fluid mr-15 avatar-small" src="images/item/04.png" alt="">
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-0">سام مارتین <span class="float-right text-warning">6,213 </span></h6>
                          <p>قالب چند منظوره HTML5 </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-30">
              <div class="card h-100">
                <div class="btn-group info-drop">
                  <button type="button" class="dropdown-toggle-split text-muted" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="text-primary ti-reload"></i>تازه کردن</a>
                    <a class="dropdown-item" href="#"><i class="text-secondary ti-eye"></i>مشاهده همه</a>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">رشد بازدید سایت </h5>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="text-danger">درآمد</h6>
                      <p class="text-danger">+584</p>
                    </div>
                    <div class="col-6">
                      <h6 class="text-info">نتیجه گیری</h6>
                      <p class="text-info">-255</p>
                    </div>
                  </div>
                  <div id="morris-line" style="height: 320px;"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-30">
              <div class="card card-statistics h-100">
                <div class="p-4 text-center bg" style="background: url(images/bg/01.jpg);">
                  <h5 class="mb-70 text-white position-relative">ارش خادملو </h5>
                  <div class="btn-group info-drop">
                    <button type="button" class="dropdown-toggle-split text-white" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="text-primary ti-files"></i> اضافه کردن کار</a>
                      <a class="dropdown-item" href="#"><i class="text-dark ti-pencil-alt"></i> ویرایش مشخصات</a>
                      <a class="dropdown-item" href="#"><i class="text-success ti-user"></i> نمایش مشخصات</a>
                      <a class="dropdown-item" href="#"><i class="text-secondary ti-info"></i> اطلاعات تماس</a>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center position-relative">
                  <div class="avatar-top">
                    <img class="img-fluid w-25 rounded-circle " src="images/team/13.jpg" alt="">
                  </div>
                  <div class="row">
                    <div class="col-sm-4 mt-30">
                      <b>فایل های ذخیره شده</b>
                      <h4 class="text-success mt-10">1582</h4>
                    </div>
                    <div class="col-sm-4 mt-30">
                      <b>حافظه استفاده شده </b>
                      <h4 class="text-danger mt-10">58GB</h4>
                    </div>
                    <div class="col-sm-4 mt-30">
                      <b>پول صرف شده است</b>
                      <h4 class="text-warning mt-10">352,6$</h4>
                    </div>
                  </div>
                  <div class="divider mt-20"></div>
                  <p class="mt-30">17504 کارلتون استریت, گالرود, غرب, 39503</p>
                  <p class="mt-10">michael@webmin.com</p>
                  <div class="social-icons color-icon mt-20">
                    <ul>
                      <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>
                      <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="calendar-main mb-30">
            <div class="row">
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-12 sm-mb-30">
                    <a href="#" data-toggle="modal" data-target="#add-category"
                      class="btn btn-primary btn-block m-t-20">
                      <i class="fa fa-plus pr-2"></i> ایجاد جدید
                    </a>
                    <div id="external-events" class="m-t-20">
                      <br>
                      <p class="text-muted">رویداد خود را بکشید و رها کنید یا در تقویم کلیک کنید</p>
                      <div class="external-event bg-success fc-event">
                        <i class="fa fa-circle mr-2 vertical-middle"></i>انتشار تم جدید
                      </div>
                      <div class="external-event bg-info fc-event">
                        <i class="fa fa-circle mr-2 vertical-middle"></i>رویداد من
                      </div>
                      <div class="external-event bg-warning fc-event">
                        <i class="fa fa-circle mr-2 vertical-middle"></i>ملاقات با مدیر
                      </div>
                      <div class="external-event bg-danger fc-event">
                        <i class="fa fa-circle mr-2 vertical-middle"></i>ایجاد تم جدید
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div id="calendar"></div>
                <div class="modal" tabindex="-1" role="dialog" id="event-modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">اضافه کردن رویداد جدید</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                            aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body p-20"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-success save-event">ایجاد رویداد</button>
                        <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">حذف</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Add Category -->
                <div class="modal" tabindex="-1" role="dialog" id="add-category">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">یک دسته اضافه کنید</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body p-20">
                        <form>
                          <div class="row">
                            <div class="col-md-6">
                              <label class="control-label">نام دسته</label>
                              <input class="form-control form-white" placeholder="نام را وارد کنید" type="text"
                                name="category-name" />
                            </div>
                            <div class="col-md-6">
                              <label class="control-label">رنگ گروه را انتخاب کنید</label>
                              <select class="form-control form-white" data-placeholder="یک رنگ انتخاب کنید..."
                                name="category-color">
                                <option value="success">موفقیت</option>
                                <option value="danger">خطر</option>
                                <option value="info">اطلاعات</option>
                                <option value="primary">اولیه</option>
                                <option value="warning">هشدار</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-success save-category" data-dismiss="modal">ذخیره</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>