@model StoneMarket.Core.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "عضویت در فروشگاه";
    Layout = "~/Views/Shared/_Account.cshtml";
}


<h3 class="mb-30">ثبت نام</h3>

<div class="section-field mb-20">
    <label class="mb-10" for="username">نام کاربری* </label>
    <input type="tel" placeholder="نام کاربری*" id="username" class="form-control">
</div>
<div class="section-field mb-20">
    <label class="mb-10" for="password">رمزعبور* </label>
    <input  class="Password form-control" id="password" type="password" placeholder="رمزعبور">
</div>
<button id="submitBtn" class="button">
    <span>ورود </span>
    <i class="fa fa-check"></i>
</button>

@section Scripts{

    <script>

        document.getElementById("submitBtn").addEventListener("click", function(){
            let username = document.getElementById("username").value;
            let pass = document.getElementById("password").value;
            let data = {
                Mobile: username, 
                Password: pass
            };
            fetch("/Admin/Login",{
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
        })

        //function sendPostRequest(){
        //    var postData = {
        //        username  = document.getElementById("username").value,
        //        password = document.getElementById("password").value
        //    };
        //    var xhr = new XMLHttpRequest();
        //    xhr.open("POST", "/Admin/Login",true);
        //    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        //    xhr.send(JSON.stringify(postData));
        //    xhr.onreadystatechange = function () {
        //        if(xhr.status === 200){
        //            document.getElementById("response").innerHTML = "OK"
        //        }else{
        //            document.getElementById("response").innerHTML = "Faild"

        //        }
        //    }
        //}

    </script>
}